<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../JQueryScript/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <script>
        console.log(__dirname);
    </script>
</head>
<body>
    
    <h1> node package manager </h1>
    
    <h2> npm : email : nodemailer </h2>

    <h5>npm install nodemailer 터미널에 입력하면 설치<br>
        <br>
        node mail.js <br>
        node_modules 와 package.json 그리고 package-lock.json 이 생성됌</h5>

    
    <h2>npm : Web server : </h2>

    <h5>npm install ejs --save <br>
        npm install express --save <br>
        node server.js
    </h5>

    <div class="test">test</div>

    <script src="../scripts/mail.js"></script>
    <script src="../scripts/server.js"></script>
</body>
</html>